.NumberInput:hover .Controls{
    display: flex;
}

.NumberInput-disable:hover .Controls{
    display: none;
}

.NumberInput, .rt-TextFieldInput {
    background: #47484E;
}

.NumberInput-disable .rt-TextFieldInput {
    background: #37373d;
    color: #59585D;
}

.rt-TextFieldRoot {
    align-items: center;
}

.NumberInput, .rt-TextFieldRoot, .rt-TextFieldInput, .rt-TextFieldChrome {
    height: 23px;
    border-radius: 6px;
    padding: 0;
}

.rt-TextFieldInput {
    border-radius: 6px 6px 6px 6px;
    text-align: left;
    width: 66px;
    height: 100%;
    position: relative;
    padding-right: 14px;
    padding-left: 0;
}

.rt-TextFieldChrome {
    background: none;
    box-shadow: none;
}

.rt-TextFieldSlot {
    padding: 0;
    height: 100%;
    border-radius: 0 6px 6px 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    position: absolute;
    right: -2px;
    top: -2px;
    height: 23px;
    width: 5px;
    z-index: 2;
    opacity: 0;
}

.Controls {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    pointer-events: none;
    flex-direction: column;
    width: 12px;
    height: 21px;
    gap: 1px;
    padding: 1px    ;
    box-sizing: content-box;
    flex-grow: 1;
}

.Spin {
    background: #808289;
    box-sizing: border-box;
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Spin svg {
    fill: #e6e6e6;
}

.Spin-disabled {
    background: #49484e;
}

.Spin-disabled svg {
    fill: #67666a;
}

.Spin-up {
    border-radius: 0 6px 0 0;
}

.Spin-down {
    border-radius: 0 0 6px 0;
}
