.NumberInput, .rt-TextFieldInput {
    background: #47484E;
}

.NumberInput-disable .rt-TextFieldInput {
    background: #37373d;
    color: #59585D;
}

.rt-TextFieldRoot {
    align-items: center;
}

.NumberInput, .rt-TextFieldRoot, .rt-TextFieldInput, .rt-TextFieldChrome {
    height: 23px;
    border-radius: 6px;
    padding: 0;
}

.rt-TextFieldInput {
    border-radius: 6px 0 0 6px;
    text-align: left;
    width: 40px;
    height: 100%;
}

.rt-TextFieldChrome {
    background: none;
    box-shadow: none;
}

.rt-TextFieldSlot {
    padding: 0;
    height: 100%;
    border-radius: 0 6px 6px 0;
}

.Control {
    border-radius: 0 6px 6px 0;
    background: #47484e;
    height: 100%;
    overflow: hidden;
    width: 14px;
    padding: 1px 1px 1px 0;
}

.Control-disabled {
    background: #37373d ;
}

.Control-button {
    height: 10px;
    width: 100%;
    background: #808289 ;
    cursor: pointer;
}

.Control-button-disabled {
    background: #49484e ;
}

.Control-button-up {
    border-radius: 0 6px 0 0;
}

.Control-button-down {
    border-radius: 0 0 6px 0;
}