.Card {
    width: 340px;
    height: 193px;
    border-radius: 12px;
    background-color: #302F35;
    padding: 0;
}

.CardTitle {
    padding-left: 15px;
    padding-top: 12px;
    padding-right: 15px;
}

.CardContent {
    gap: 22px;
}

.rt-CardInner {
    padding: 0!important;
}

.QuestionIcon {
    height: 16px;
    width: 16px;
    border-radius: 26px;
    background: #454548;
    color: #BEC2C4;
}

.Label {
    font-family: Arial, serif;
    font-size: 14px;
    color: rgba(255,255,255,0.50);
    text-align: right;
    font-weight: 400;
}

.Label-disabled {
    color: #504f54;
}

.CardTitle {
    font-family: Arial, serif;
    font-size: 14px;
}

.rt-Card:where(.rt-variant-surface)::after {
    box-shadow: none;
}

.Footer {
    padding-right: 18px;
}